body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  width: 320px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 700px) {

  fieldset {
    border: 2px solid #e5e5e5;
  }
}
