body {
  font-family: "Open Sans", "Tahoma", sans-serif;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .container {
    width: 700px;
  }

  fieldset {
    border: 2px solid #e5e5e5;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }


}
