body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

::-webkit-input-placeholder {
  color: #283645;
  font-family: "Open Sans", "Tahoma", sans-serif;
}

::-moz-placeholder {
  color: #283645;
  font-family: "Open Sans", "Tahoma", sans-serif;
}

:-moz-placeholder {
  color: #283645;
  font-family: "Open Sans", "Tahoma", sans-serif;
}

:-ms-input-placeholder {
  color: #283645;
  font-family: "Open Sans", "Tahoma", sans-serif;
}

textarea:-moz-placeholder {
  color: #283645;
  font-family: "Open Sans", "Tahoma", sans-serif;
}

textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-family: "Open Sans", "Tahoma", sans-serif;
}
