@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensansbold.woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensanslight.woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensansbold.woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensanslight.woff2");
  font-weight: 300;
  font-style: normal; }

body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto;
  vertical-align: baseline; }

.container {
  width: 320px;
  text-align: center;
  margin: 0 auto; }

@media (min-width: 700px) {
  .container {
    width: 700px; }
  fieldset {
    border: 2px solid #e5e5e5; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.page-header {
  background-color: #283645;
  border-bottom: 1px solid #000000; }

.page-header__inner {
  padding: 0 20px; }

.page-header__navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: #283645; }

.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px; }

.page-header__tablet-logo {
  display: none; }

.page-header__desktop-logo {
  display: none; }

.page-header__logo-link:hover .page-header__mobile-element {
  fill: #d22856; }

.page-header__logo-link:active .page-header__mobile-element {
  fill: rgba(255, 255, 255, 0.3); }

.page-header__menu-btn {
  margin-top: 21px; }

@media (min-width: 700px) {
  .page-header__inner {
    padding: 0 40px; }
  .page-header__mobile-logo {
    display: none; }
  .page-header__tablet-logo {
    display: inline; }
  .page-header__logo-link:hover .page-header__tablet-element {
    fill: #d22856; }
  .page-header__logo-link:active .page-header__tablet-element {
    fill: rgba(255, 255, 255, 0.3); }
  .page-header__logo {
    padding-top: 27px;
    padding-bottom: 43px; }
  .page-header__menu-btn {
    margin-top: 44px; } }

@media (min-width: 1200px) {
  .page-header {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 1200px;
    padding: 0 130px;
    box-sizing: border-box;
    top: 0;
    background: rgba(40, 54, 69, 0.7);
    z-index: 100;
    border: none; }
  .page-header__inner {
    padding: 0; }
  .page-header__navigation {
    background: none; }
  .page-header__logo {
    padding-top: 27px; }
  .page-header__tablet-logo {
    display: none; }
  .page-header__desktop-logo {
    display: inline; }
  .page-header__logo-link:hover .page-header__desktop-element {
    fill: #d22856; }
  .page-header__logo-link:active .page-header__desktop-element {
    fill: rgba(255, 255, 255, 0.3); }
  .page-header__menu-btn {
    display: none; } }

.burger {
  position: relative;
  width: 50px;
  height: 24px;
  cursor: pointer; }
  .burger:hover .burger__line {
    background: #d22856; }
  .burger:active .burger__line {
    background: rgba(210, 40, 86, 0.3); }

.burger__line {
  position: absolute;
  left: 0;
  width: 50px;
  height: 4px;
  background: #ffffff; }
  .burger__line--top {
    top: 0; }
  .burger__line--middle {
    top: 10px; }
  .burger__line--bottom {
    bottom: 0; }

.burger--cross .burger__line:nth-child(1) {
  width: 31px;
  height: 5px;
  top: 10px;
  left: 20px;
  transform: rotate(45deg); }

.burger--cross .burger__line:nth-child(3) {
  width: 31px;
  height: 5px;
  top: 10px;
  left: 20px;
  transform: rotate(-45deg); }

.burger--cross .burger__line:nth-child(2) {
  opacity: 0; }

.main-nav--close {
  display: none; }

.main-nav--no-js {
  display: block; }

.main-nav--open {
  display: block; }

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none; }

.main-nav__item {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
  padding: 15px 0; }

.main-nav__link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  background-color: #283645;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px; }
  .main-nav__link:hover {
    color: #d22856; }
  .main-nav__link:active {
    color: rgba(210, 40, 86, 0.3); }

@media (min-width: 1200px) {
  .main-nav {
    display: block;
    width: 620px; }
  .main-nav__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .main-nav__item {
    border: none;
    padding: 0; }
  .main-nav__link {
    padding: 46px 0;
    line-height: 18px;
    font-weight: 300;
    background: none; } }

.promo {
  position: relative;
  background: #1d2631; }

.promo__inner {
  padding: 0 20px; }

.promo__image--index {
  min-height: 396px;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-position: center bottom, center;
  background-size: auto, cover;
  background-repeat: no-repeat; }

.promo__image--form, .promo__image--photo {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.promo__pic {
  vertical-align: bottom; }

.promo__page-title {
  margin: 0;
  color: #ffffff; }

.promo__aplication {
  text-align: center; }

.promo__title {
  display: none; }

.promo__download {
  display: inline-block;
  margin-top: 28px; }

.promo__app-links {
  padding-top: 32px; }

.promo__app-link:nth-child(1),
.promo__app-link:nth-child(2) {
  margin-right: 33px; }

.promo__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 31px;
  padding-top: 26px; }

.promo__image-inner {
  padding: 0 47px;
  text-align: center; }

.promo__page-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300; }
  .promo__page-title--form {
    padding-top: 30px;
    padding-bottom: 50px; }

.promo__decription {
  background: #ffffff;
  text-align: center; }

.promo__decription-inner {
  padding: 0 20px; }

.page-header__description-text {
  margin: 0;
  padding-top: 48px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

@media (min-width: 700px) {
  .promo__title {
    display: block;
    width: 190px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: #ffffff; }
  .promo__image--index {
    min-height: 618px;
    background-image: url(../img/iphone-6_copy.png), url(../img/bg-back-mobile@1x.jpg); }
  .promo__inner {
    padding: 0 40px;
    position: absolute;
    top: 105px; }
  .promo__text {
    width: 300px;
    font-weight: 300; }
  .promo__page-title {
    font-size: 50px;
    line-height: 60px; } }

@media (min-width: 1200px) {
  .promo__page-title {
    padding-top: 140px; }
  .promo__image-inner {
    padding: 0 190px; } }

.download-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 35px;
  padding: 15.5px 35px;
  font-family: "Open Sans", "Tahoma", sans-serif; }

.information-block {
  text-align: center; }

.information-block__inner {
  padding: 0 20px; }

.information-block__title-block {
  background-color: #ffffff;
  margin-bottom: 83px; }

.information-block__main-title {
  padding-top: 45px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: #283645;
  font-weight: 300; }

.information-block__feature-inner {
  padding: 0 20px;
  background-color: #f2f2f2; }

.information-block__title {
  margin: 0;
  padding-top: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold; }

.information-block__text {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px; }

.information-block__science {
  clear: both;
  content: "";
  display: none; }

.information-block_pic-clock {
  float: left;
  width: 238px;
  height: 276px;
  background: url("../img/clock-tablet.png") no-repeat center center; }

.information-block_description {
  float: right;
  width: 310px; }

.information-block__science-title {
  font-size: 30px;
  line-height: 30px; }

.information-block__science-text {
  font-size: 18px;
  line-height: 18px; }

@media (min-width: 700px) {
  .information-block {
    width: 700px;
    padding: 0 40px;
    box-sizing: border-box; }
  .information-block__wrapper {
    clear: both;
    display: table;
    content: ""; }
  .information-block__advantages-block {
    float: right;
    width: 300px;
    text-align: left; }
  .information-block_pic-block {
    float: left;
    width: 310px;
    text-align: left;
    background-repeat: no-repeat; }
  .information-block__science {
    display: table; } }

.review-block {
  margin-top: 45px;
  text-align: center; }

.review-block__item {
  padding: 0 20px;
  background-color: #ffffff; }

.review-block__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px; }

.review-block__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  padding-top: 27px;
  padding-bottom: 40px; }

.review-block__description {
  display: none; }

@media (min-width: 700px) {
  .review-block {
    width: 700px;
    padding: 45px 40px 0 40px;
    box-sizing: border-box;
    margin: 0 auto; }
  .review-block__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .review-block__description {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 30px; }
  .review-block__text {
    -ms-flex-order: -1;
        order: -1; } }

.slider {
  font-size: 0; }

.slider__control {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 14px;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: 1px solid #ffffff;
  border-radius: 50%; }
  .slider__control--active-slide {
    background-color: #ffffff;
    border: 3px solid #283645;
    border-radius: 50%; }

.price-block {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  margin-top: 130px; }

.price-block__table {
  border-collapse: collapse; }

.price-block__table-header-block {
  width: 320px;
  box-sizing: border-box;
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid grey;
  text-align: center; }
  .price-block__table-header-block--none, .price-block__table-header-block--base, .price-block__table-header-block--unlimit {
    display: none; }
  .price-block__table-header-block--none {
    border: none;
    background: #ffffff; }

.price-block__type {
  margin: 0;
  margin-top: 25px;
  font-size: 18px;
  line-height: 30px; }

.price-block__price {
  padding-bottom: 24px;
  padding-top: 10px;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300; }

.price-block__feature {
  position: relative;
  text-align: left;
  padding: 25px 0 25px 23px;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5; }
  .price-block__feature::before {
    position: absolute;
    display: block;
    content: "";
    top: 19px;
    right: 39px;
    width: 31px;
    height: 21px;
    background: url("../img/icon-yes.svg") no-repeat; }

.price-block__feature-icon {
  display: none; }

.price-block__slider {
  margin-top: 40px; }

@media (min-width: 700px) {
  .price-block {
    width: 620px;
    padding: 0 40px; }
  .price-block__table-header-block {
    width: 154px; }
    .price-block__table-header-block--none, .price-block__table-header-block--base, .price-block__table-header-block--unlimit {
      display: table-cell; }
    .price-block__table-header-block--none {
      background: #ffffff;
      border: none; }
  .price-block__feature::before {
    display: none; }
  .price-block__feature {
    padding: 10px 0 10px 15px; }
  .price-block__feature-icon {
    position: relative;
    display: table-cell;
    border: 1px solid #e5e5e5; }
    .price-block__feature-icon--yes::before {
      position: absolute;
      display: block;
      content: "";
      width: 31px;
      height: 21px;
      top: 10px;
      left: 62px;
      background: url("../img/icon-yes.svg") no-repeat; }
    .price-block__feature-icon--no::before {
      position: absolute;
      display: block;
      content: "";
      width: 27px;
      height: 26px;
      top: 10px;
      left: 62px;
      background: url("../img/icon-no.svg") no-repeat; }
  .price-block__slider {
    display: none; } }

@media (min-width: 1200px) {
  .price-block {
    width: 940px;
    padding: 0 130px; }
  .price-block__table-header-block {
    width: 235px; } }

.contact-block {
  text-align: center; }

.contact-block__inner {
  padding: 0 40px; }

.contact-block__main-title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645; }

.contact-block__section {
  margin-bottom: 30px; }

.contact-block__contact-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #283645; }

.contact-block__link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #d22856; }

.contact-block__text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #d22856; }

@media (min-width: 700px) {
  .contact-block__main-title {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 40px;
    line-height: 40px; }
  .contact-block__section {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-top: 60px; } }

@media (min-width: 1200px) {
  .contact-block {
    max-width: 1200px; } }

.page-footer {
  text-align: center; }
  .page-footer--index-hide {
    display: none; }

.page-footer__logo {
  margin: 40px auto;
  width: 146.3px;
  height: 40.375px; }

.page-footer__desktop-logo {
  display: none; }

.page-footer__logo-link:hover .page-footer__logo-letter {
  fill: #d22856; }

.page-footer__logo-link:active .page-footer__logo-letter {
  fill: rgba(40, 54, 69, 0.3); }

.page-footer__logo-link:active .page-footer__logo-glasses {
  fill: rgba(210, 40, 86, 0.3); }

.page-footer__social-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 177px;
  height: 51px;
  margin: 0 auto;
  margin-top: 39px; }

.page-footer__social-link {
  display: block;
  width: 51px;
  height: 51px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  padding-top: 15px; }
  .page-footer__social-link:hover {
    border-color: #283645; }
  .page-footer__social-link:active {
    border-color: #e9ebec;
    opacity: 0.5; }

.page-footer__development-block {
  width: 128px;
  height: 34px;
  margin: 40px auto; }

.page-footer__development-link {
  color: #000000;
  text-decoration: none;
  color: #283645;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .page-footer__development-link:hover .page-footer__academy-link {
    fill: #283645; }
  .page-footer__development-link:active .page-footer__academy-link {
    opacity: 0.3; }

.page-footer__academy-link {
  fill: #d22856; }

.page-footer__link-text {
  font-size: 14px;
  line-height: 18px; }

@media (min-width: 700px) {
  .page-footer {
    width: 700px;
    box-sizing: border-box;
    margin: 0 auto; }
    .page-footer--index-hide {
      display: block; }
  .page-footer__inner {
    padding: 0 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .page-footer__logo {
    margin: 0;
    margin-top: 36px;
    margin-bottom: 51px; }
  .page-footer__social-block {
    margin: auto;
    margin-top: 39px; }
  .page-footer__development-block {
    margin: 0;
    margin-top: 50px; } }

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px; }
  .page-footer__inner {
    padding: 0 130px; }
  .page-footer__mobile-logo {
    display: none; }
  .page-footer__desktop-logo {
    display: inline; }
  .page-footer__logo {
    margin-top: 98px;
    margin-bottom: 87px; }
  .page-footer__social-block {
    margin-top: 102px; }
  .page-footer__development-block {
    margin-top: 113px; } }

.map {
  position: relative;
  min-width: 320px;
  height: 200px;
  overflow: hidden;
  background: #eeeeee url(../img/bg-map-mobile@1x.png) no-repeat center;
  background-size: cover; }
  .map::before {
    position: absolute;
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-top: 35px solid #ffffff;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    z-index: 1; }

@media (min-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
  .map {
    background: url(../img/bg-map-mobile@2x.jpg) no-repeat center;
    background-size: cover; } }

@media (min-width: 700px) {
  .map {
    height: 377px;
    background: url(../img/bg-map-tablet@1x.jpg) no-repeat center;
    background-size: cover; }
    .map:before {
      border-top: 70px solid #ffffff; } }

@media (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 700px) and (min-resolution: 144dpi), (min-width: 700px) and (min-resolution: 1.5dppx) {
  .map {
    background: url(../img/bg-map-tablet@2x.jpg) no-repeat center;
    background-size: cover; } }

@media (min-width: 1200px) {
  .map {
    height: 503px;
    background: url(../img/bg-map-desktop@1x.jpg) no-repeat center;
    background-size: cover; }
    .map:before {
      border-top: 100px solid #ffffff; } }

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .map {
    background: url(../img/bg-map-desktop@2x.jpg) no-repeat center;
    background-size: cover; } }

/*блоки со страницы с формой(конкурс) */
.text-form-block {
  margin-bottom: 25px; }

.text-form-block__label {
  margin-left: 23px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856; }
  .text-form-block__label--name-field {
    display: block; }

.text-form-block__input {
  width: 280px;
  box-sizing: border-box;
  padding: 16px 0 16px 20px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  outline: none; }
  .text-form-block__input:hover {
    border-color: #283645; }
  .text-form-block__input:active, .text-form-block__input:focus {
    border-color: #d22856; }

@media (min-width: 700px) {
  .text-form-block__label {
    display: inline-block; }
  .text-form-block__input {
    width: 400px; } }

@media (min-width: 1200px) {
  .text-form-block__input {
    width: 250px; }
  .text-form-block--contact {
    width: 375px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }

.request-form__contact-inner {
  padding: 0 20px; }

.request-form__achievments-block {
  background-color: #f2f2f2;
  text-align: center; }

.request-form__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase; }
  .request-form__text--contacts {
    display: none; }

.request-form__contact-block {
  padding-bottom: 17px; }

.request-form__application-checkbox {
  margin-left: 20px; }

.request-form__comment-text {
  margin-left: 20px; }

.request-form__btn {
  margin-left: 20px;
  margin-top: 48px; }

@media (min-width: 700px) {
  .request-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 620px; }
  .request-form__name-block {
    -ms-flex-order: -1;
        order: -1; }
  .request-form__application-block {
    -ms-flex-order: 0;
        order: 0; }
  .request-form__contact-block {
    -ms-flex-order: 1;
        order: 1; }
  .request-form__achievments-block {
    -ms-flex-order: 2;
        order: 2; }
  .request-form__comment-block {
    -ms-flex-order: 3;
        order: 3; }
  .request-form__button-block {
    -ms-flex-order: 4;
        order: 4;
    font-size: 0; }
  .request-form__btn,
  .request-form__required-text {
    display: inline-block;
    vertical-align: top;
    font-size: 14px; }
  .request-form__required-text {
    margin: 0;
    padding: 70px 0 0 40px; }
  .request-form__text--contacts {
    display: block; } }

@media (min-width: 1200px) {
  .request-form {
    width: 940px;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .request-form__name-block {
    width: 470px; }
  .request-form__contact-block {
    margin-top: 50px;
    width: 940px; }
  .request-form__contacts-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .request-form__achievments-block {
    width: 940px; }
  .request-form__achievments-block {
    width: 940px; }
  .request-form__comment-block {
    width: 940px; }
  .request-form__button-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; } }

.checkbox-block {
  text-align: left;
  margin-bottom: 43px; }

.checkbox-block__label {
  position: relative;
  margin-left: 20px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 39px;
  color: #283645;
  cursor: pointer; }
  .checkbox-block__label:hover::before {
    border-color: #283645; }
  .checkbox-block__label::before {
    position: absolute;
    display: block;
    content: "";
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    top: -8px;
    left: 0; }

.checkbox-block__input {
  display: none; }
  .checkbox-block__input:checked + .checkbox-block__label::before {
    border-color: #d22856; }
  .checkbox-block__input:checked + .checkbox-block__label::after {
    position: absolute;
    display: block;
    content: "";
    width: 22px;
    height: 16px;
    top: 2px;
    left: 9px;
    background: url("../img/icon-yes.svg"); }

.radio-button-block {
  margin-bottom: 36px; }

.radio-button-block__label {
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  line-height: 39px;
  color: #283645;
  cursor: pointer; }
  .radio-button-block__label:hover::before {
    border-color: #283645; }
  .radio-button-block__label::before {
    position: absolute;
    display: block;
    content: "";
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    top: -8px;
    left: 0; }

.radio-button-block__input {
  display: none; }
  .radio-button-block__input:checked + .radio-button-block__label::before {
    border-color: #d22856; }
  .radio-button-block__input:checked + .radio-button-block__label::after {
    position: absolute;
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #d22856;
    border-radius: 50%;
    top: 3px;
    left: 11px;
    background-color: #d22856; }

.button {
  width: 280px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 63px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  outline: none; }
  .button--green {
    background-color: #2aab6d; }
    .button--green:hover {
      background: #1c9b5e; }
    .button--green:active {
      color: rgba(255, 255, 255, 0.3); }
    .button--green:disabled {
      background: #e5e5e5; }

@media (min-width: 700px) {
  .button--popup {
    width: 299px; } }

@media (min-width: 1200px) {
  .button--success {
    width: 460px; } }

.popup {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center; }
  .popup--success {
    background-color: #f2f2f2; }

.popup__container {
  padding: 0 20px; }

.popup__title {
  margin: 0;
  padding-top: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold; }

.popup__text {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.popup__btn-wrapper {
  background-color: #f2f2f2;
  padding-top: 48px;
  padding-bottom: 52px; }

@media (min-width: 700px) {
  .popup {
    width: 460px; }
    .popup--success {
      background: #ffffff; }
  .popup__container {
    padding: 0 70px; }
  .popup__title {
    font-size: 30px;
    line-height: 40px; }
  .popup__text {
    font-size: 18px; }
  .popup__btn-wrapper {
    width: 460px; } }

@media (min-width: 1200px) {
  .popup--success {
    width: 780px; }
  .popup__container--success {
    padding: 0 160px; }
  .popup__btn-wrapper {
    width: 780px; } }

/*блоки со страницы с фотографиями(конкурс) */
.photo-block {
  background: #ffffff; }

.photo-block__title-inner {
  padding: 0 35px;
  text-align: center; }

.photo-block__title {
  margin: 0;
  padding-top: 60px;
  margin-bottom: 55px;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

.photo-block__panorama-photo {
  position: relative;
  width: 100%; }

.photo-block__label {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856; }

.photo-block__photo-content {
  background-color: #ffffff;
  padding-bottom: 27px;
  text-align: left; }

.photo-block__box {
  background: #ffffff; }

.photo-block__content-inner {
  padding: 0 20px; }

.photo-block__photo-unit {
  margin-bottom: 20px;
  background-color: #f2f2f2; }

.photo-block__photo-item {
  width: 100%; }

.photo-block__name {
  padding-left: 18px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold; }

.photo-block__name-desctiption {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300; }

.photo-block__photo-description {
  padding-left: 18px;
  padding-right: 30px;
  margin: 0;
  font-size: 14px;
  line-height: 24px; }

.photo-block__like-btn {
  margin-left: 18px;
  margin-top: 17px;
  padding-bottom: 28px; }

@media (min-width: 700px) {
  .photo-block__content-inner {
    padding: 0 40px; }
  .photo-block__box {
    width: 700px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 0; }
  .photo-block__photo-unit {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px; }
    .photo-block__photo-unit--panorama {
      width: 100%; }
  .photo-block__photo-unit:nth-child(odd) {
    margin-right: 20px; }
  .photo-block__content-box {
    min-height: 144px; }
  .photo-block__label {
    top: 57px;
    right: 40px; } }

@media (min-width: 1200px) {
  .photo-block__box {
    width: 1200px; }
  .photo-block__content-inner {
    padding: 0 130px; }
  .photo-block__content-box {
    min-height: 155px; }
  .photo-block__photo-unit {
    margin-right: 20px;
    margin-bottom: 54; }
  .photo-block__photo-unit:nth-child(3n) {
    margin-right: 0; }
  .photo-block__label {
    top: 54px;
    right: 130px; } }

.upload-block {
  text-align: center; }

.upload-block__title-info {
  margin: 0;
  padding: 40px 34px 45px 34px;
  font-size: 14px;
  line-height: 30px; }

.upload-block__photo-box {
  background-color: #f2f2f2; }

.upload-block__inner {
  padding: 20px;
  padding-bottom: 0;
  background-color: #f2f2f2; }

.upload-block__photo {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 42px; }

.upload-block__filters {
  font-size: 0; }

.upload-block__btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 35px;
  cursor: pointer; }
  .upload-block__btn--crop-button {
    width: 44px;
    height: 44px;
    background: url("../img/icon-editor-crop.svg"); }
  .upload-block__btn--color-button {
    width: 48px;
    height: 43px;
    background: url("../img/icon-editor-fill.svg"); }
  .upload-block__btn--contrast-button {
    width: 32px;
    height: 32px;
    background: url("../img/icon-editor-contrast.svg"); }

.upload-block__scale {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 34px;
  width: 240px;
  height: 2px;
  background-color: #283645; }
  .upload-block__scale--contrast-button {
    display: none; }
  .upload-block__scale--color-button {
    display: none; }

.upload-block__scale-round {
  position: absolute;
  display: block;
  top: -6px;
  left: 192px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer; }
  .upload-block__scale-round:active {
    background: #d22856; }

.upload-block__button-block {
  padding-top: 25px;
  padding-bottom: 41px;
  border-top: 1px solid #dddfe0; }

.upload-block__button {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  padding: 15px 88px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  background: none;
  border-radius: 35px;
  cursor: pointer;
  outline: none; }
  .upload-block__button--post {
    border: 3px solid #d22856;
    color: #d22856; }
    .upload-block__button--post:hover {
      color: #ffffff;
      background: #d22856; }
    .upload-block__button--post:active {
      color: rgba(255, 255, 255, 0.3); }
  .upload-block__button--cancel {
    padding: 15px 102px;
    color: rgba(40, 54, 69, 0.1);
    border: 3px solid rgba(40, 54, 69, 0.1); }
    .upload-block__button--cancel:hover {
      color: rgba(40, 54, 69, 0.3);
      border-color: rgba(40, 54, 69, 0.3); }
    .upload-block__button--cancel:active {
      color: rgba(255, 255, 255, 0.3);
      background: #b5b9be;
      border: 3px solid #b5b9be; }

@media (min-width: 700px) {
  .upload-block__photo-box {
    width: 700px;
    background-color: #f2f2f2; }
  .upload-block__inner {
    padding-left: 40px;
    padding-right: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .upload-block__photo {
    width: 300px; }
  .upload-block__modificators {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0; }
  .upload-block__filters {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .upload-block__btn {
    margin-top: 50px; }
    .upload-block__btn--crop-button {
      margin-top: 0; }
  .upload-block__scale {
    display: block;
    margin-top: 20px; }
    .upload-block__scale--color-button {
      margin-top: 100px; }
    .upload-block__scale--contrast-button {
      margin-top: 80px; } }

@media (min-width: 1200px) {
  .upload-block {
    width: 940px;
    padding: 0 130px; } }

.like-button {
  position: relative;
  padding: 0;
  padding-left: 32px;
  border: none;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  cursor: pointer; }
  .like-button::before {
    position: absolute;
    display: block;
    content: "";
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg");
    top: 6px;
    left: 0; }
  .like-button--photo-page {
    background-color: #f2f2f2; }
