@import "../global/variables.scss";

.checkbox-block {
  text-align: left;
  margin-bottom: 43px;
}

.checkbox-block__label {
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  line-height: 39px;
  color: $bluish;
  cursor: pointer;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    top: -8px;
    left: 0
  }

  &:hover::before {
    border-color: $bluish;
  }

  &:active::before {
    border-color: $pink;
  }

  &:active::after {
    position: absolute;
    display: block;
    content: "";
    width: 22px;
    height: 16px;
    top: 2px;
    left: 9px;
    background: url('../img/icon-yes-form.svg');
  }
}

.checkbox-block__input {
  display: none;

  &:checked + .checkbox-block__label:hover::before {
    border-color: $bluish;
  }

  &:checked + .checkbox-block__label:active::after {
    background: #ffffff;
  }

  &:checked + .checkbox-block__label:active::before {
    border-color: $pink;
  }

  &:checked + .checkbox-block__label::after {
    position: absolute;
    display: block;
    content: "";
    width: 22px;
    height: 16px;
    top: 2px;
    left: 9px;
    background: url('../img/icon-yes-form.svg');
  }
}

@media (min-width: 700px) {
  .checkbox-block__label {
    padding-left: 60px;
  }

  .checkbox-block {
    margin-bottom: 44px;
  }
}

@media (min-width: 1200px) {
  .checkbox-block {
    width: 208px;
  }
}
