@import "../global/variables.scss";

.contact-block {
  text-align: center;
}

.contact-block__main-title {
  margin: 0;
  padding-top: 42px;
  margin-bottom: 31px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $bluish;
}

.contact-block__section {
  margin-bottom: 23px;
}

.contact-block__contact-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #283645;
}

.contact-block__link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: #d22856;

  &--mail {
    &:hover {
      color: $bluish;
      text-decoration: underline;
    }

    &:active {
      color: $bluish-transparent;
      text-decoration: none;
    }
  }
}

.contact-block__text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #d22856;
}

@media (min-width: 700px) {
  .contact-block__main-title {
    margin-bottom: 44px;
    padding-top: 49px;
    font-size: 40px;
    line-height: 45px;
  }

  .contact-block__section {
    display: inline-block;
    vertical-align: top;
    width: 310px;
    margin-bottom: 51px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .contact-block__text {
    margin-bottom: 25px;
  }
}

@media (min-width: 1200px) {
  .contact-block {
    max-width: 1200px;
  }
}
