@import "../global/variables.scss";

.download-block {
  background: $bluish;
}

.download-block__inner {
  padding: 0 20px;
  text-align: center;
}

.download-block__title {
  display: none;
}

.download-block__link {
  margin-top: 28px;
  margin-bottom: 36px;
}

.download-block__app-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 39px;
  margin-bottom: 19px;
}

.download-block__app-link {
  text-decoration: none;
  font-size: 0;

  &--apple {
    width: 47px;
    height: 56px;
    background: url(../img/logo-apple.svg) no-repeat;
  }
  &--android {
    width: 43px;
    height: 47px;
    background: url(../img/logo-android.svg) no-repeat center;
  }
  &--microsoft {
    width: 44px;
    height: 41px;
    background: url(../img/logo-microsoft.svg) no-repeat center;
  }
}

.download-block__text {
  margin: 0;
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

@media (min-width: 700px) {
  .download-block__title {
    display: block;
    width: 190px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: #ffffff;
  }

  .download-block__inner {
    padding: 0 40px;
    position: absolute;
    top: 105px;
  }

  .download-block__text {
    font-weight: 300;
  }
}
