@import "../global/variables.scss";

.download-link {
  padding: 15.5px 36px;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background: $bluish;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 35px;
}
