.download-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 35px;
  padding: 17px 35px;
  font-family: "Open Sans", "Tahoma", sans-serif;
}
