@import "../global/variables.scss";

.page-footer {
  text-align: center;

  &--index-hide {
    display: none;
  }
}

.page-footer__logo {
  margin: 40px auto;
  width: 146.3px;
  height: 40.375px;
}

.page-footer__desktop-logo {
  display: none;
}

.page-footer__logo-link:hover .page-footer__logo-letter {
  fill: $pink;
}

.page-footer__logo-link:active .page-footer__logo-letter {
  fill: $bluish-transparent;
}

.page-footer__logo-link:active .page-footer__logo-glasses {
  fill: $pink-transparent;
}

.page-footer__social-block {
  display: flex;
  justify-content: space-between;
  width: 177px;
  height: 51px;
  margin: 0 auto;
  margin-top: 39px;
}

.page-footer__social-link {
  display: block;
  width: 51px;
  height: 51px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  padding-top: 15px;

  &:hover {
    border-color: $bluish;
  }

  &:active {
    border-color: #e9ebec;
    opacity: 0.5;
  }
}

.page-footer__development-block {
  width: 128px;
  margin: 37px auto;
}

.page-footer__development-link {
  text-decoration: none;
  color: $bluish;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .page-footer__academy-link {
    fill: $bluish;
  }

  &:active .page-footer__academy-link {
    opacity: 0.3;
  }
}

.page-footer__academy-link {
  fill: $pink;
}

.page-footer__link-text {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 700px) {
  .page-footer {

    margin: 0 auto;

    &--index-hide {
      display: block;
    }
  }

  .page-footer__inner {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    margin: 0;
    margin-top: 36px;
    margin-bottom: 51px;
  }

  .page-footer__social-block {
    margin: auto;
    margin-top: 39px;
    padding-right: 17px;
  }

  .page-footer__development-block {
    margin: 0;
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__inner {
    padding: 0 130px;
  }

  .page-footer__mobile-logo {
    display: none;
  }

  .page-footer__desktop-logo {
    display: inline;
  }

  .page-footer__logo {
    margin-top: 98px;
    margin-bottom: 87px;

    &--index {
      margin-top: 67px;
    }

    &--form {
      margin-top: 69px;
    }
  }

  .page-footer__social-block {
    margin-top: 102px;
    padding-left: 31px;

    &--index {
      margin-top: 71px;
    }

    &--form {
      margin-top: 75px;
      padding-right: 0;
      padding-left: 12px;
    }
  }

  .page-footer__development-block {
    width: 152px;
    margin-top: 113px;

    &--form {
      margin-top: 82px;
    }

    &--index {
      margin-top: 80px;
    }
  }

  .page-footer__link-text {
    font-size: 18px;
  }
}
