.page-decription {
  background: #ffffff;
  text-align: center;
}

.page-decription__inner {
  padding: 50px 20px;
}

.page-decription__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.page-decription__extra-text {
  display: none;
}

@media (min-width: 700px) {
  .page-decription__inner {
    padding: 95px 100px;
  }

  .page-decription__text {
    font-size: 18px;
  }

  .page-decription__extra-text {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .page-decription__inner {
    padding: 95px 220px;
  }
}
