@import "../global/variables.scss";

.page-footer {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  &--index-hide {
    display: none;
  }
}

.page-footer__logo {
  margin-left: auto;
  margin-right: auto;
  width: 147px;
  height: 40px;
  margin-top: 61px;
}

.page-footer__desktop-logo {
  display: none;
}

.page-footer__logo:hover .page-footer__logo-letter {
  fill: $pink;
}

.page-footer__logo:active .page-footer__logo-letter {
  fill: $bluish-transparent;
}

.page-footer__logo:active .page-footer__logo-glasses {
  fill: $pink-transparent;
}


.page-footer__social-block {
  font-size: 0;
  margin-top: 40px;
}

.page-footer__social-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  background-color: #ffffff;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--twitter::before {
    width: 18px;
    height: 14px;
    background: url('../img/icon-twitter.svg');
  }

  &--facebook::before {
    width: 9px;
    height: 18px;
    background: url('../img/icon-facebook.svg');
  }

  &--youtube::before {
    width: 15px;
    height: 13px;
    background: url('../img/icon-youtube.svg');

    &:active {
      opacity: 0.3;
    }
  }

  &:hover {
    border-color: $bluish;
  }
}

.page-footer__development-block {
  margin-top: 40px;
}

.page-footer__academy-link {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  padding-right: 48px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 27px;
    height: 34px;
    background: url('../img/logo-htmlacademy.svg');
    right: 0;
    top: -10px;
  }
}

@media (min-width: 700px) {
  .page-footer {
    width: 700px;
    padding: 0 40px;
    box-sizing: border-box;

    &--index-hide  {
      display: block;
    }
  }

  .page-footer__inner {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    box-sizing: border-box;
    padding: 0 120px;
  }

  .page-footer__mobile-logo {
    display: none;
  }

  .page-footer__desktop-logo {
    display: inline;
  }
}
