@import "../global/variables.scss";

.page-header {
  background-color: #283645;
  border-bottom: 1px solid #000000;
}

.page-header__inner {
  padding: 0 20px;
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  background-color: #283645;
}

.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__tablet-logo {
  display: none;
}

.page-header__desktop-logo {
  display: none;
}

.page-header__logo-link:hover .page-header__mobile-element {
  fill: $pink;
}

.page-header__logo-link:active .page-header__mobile-element {
  fill: $white-active;
}

.page-header__menu-btn {
  margin-top: 21px;
}

@media (min-width: 700px) {
  .page-header__inner {
    padding: 0 40px;
  }

  .page-header__mobile-logo {
    display: none;
  }

  .page-header__tablet-logo {
    display: inline;
  }

  .page-header__logo-link:hover .page-header__tablet-element {
    fill: $pink;
  }

  .page-header__logo-link:active .page-header__tablet-element {
    fill: $white-active;
  }

  .page-header__logo {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .page-header__menu-btn {
    margin-top: 44px;
  }

}

@media (min-width: 1200px) {
  .page-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 0 130px;
    box-sizing: border-box;
    top: 0;
    background: rgba(40, 54, 69, 0.7);
    z-index: 100;
    border: none;
  }

  .page-header__inner {
    padding: 0;
  }

  .page-header__navigation {
    background: none;
  }

  .page-header__logo {
    padding-top: 27px;
  }

  .page-header__tablet-logo {
    display: none;
  }

  .page-header__desktop-logo {
    display: inline;
  }

  .page-header__logo-link:hover .page-header__desktop-element {
    fill: $pink;
  }

  .page-header__logo-link:active .page-header__desktop-element {
    fill: $white-active;
  }

  .page-header__menu-btn {
    display: none;
  }
}
