.photo-block__title {
  margin: 0;
  padding: 60px 40px 55px 40px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.photo-block__photo-item {
  width: 320px;
  height: 180px;
}

.photo-block__photo-content {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 27px;
  text-align: left;
  background-color: #f2f2f2;
}

.photo-block__name {
  padding-left: 18px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.photo-block__name-desctiption {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}

.photo-block__photo-description {
  padding-left: 18px;
  padding-right: 30px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-block__like-btn {
  margin-left: 18px;
  margin-top: 17px;

}
