.popup {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;

  &--success {
    background-color: #f2f2f2;
  }
}

.popup__container {
  padding: 0 20px;
}

.popup__title {
  margin: 0;
  padding-top: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.popup__text {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.popup__btn-wrapper {
  background-color: #f2f2f2;
  padding-top: 48px;
  padding-bottom: 52px;
}

@media (min-width: 700px) {
  .popup {
    width: 460px;

    &--success {
      background: #ffffff;
    }
  }

  .popup__container {
    padding: 0 70px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__text {
    font-size: 18px;
  }

  .popup__btn-wrapper {
    width: 460px;
  }
}

@media (min-width: 1200px) {
  .popup--success {
    width: 780px;
  }

  .popup__container--success {
    padding: 0 160px;

  }

  .popup__btn-wrapper {
    width: 780px;
  }
}
