.price-block {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  margin-top: 130px;
}

.price-block__table-header-block {
  width: 320px;
  text-align: center;
  background-color: #283645;

  &--none,
  &--base,
  &--unlimit {
    display: none;
  }
}

.price-block__type {
  padding-top: 24px;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-block__price {
  padding-bottom: 24px;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.price-block__feature {
  width: 270px;
  text-align: left;
  padding: 25px 0 25px 0;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  text-transform: uppercase;
}

.price-block__slider {
  margin-top: 40px;
}

.price-block__feature-icon {
  display: none;
}

@media (min-width: 700px) {
  .price-block__table-header-block {
    width: 154px;

    &--none,
    &--base,
    &--unlimit {
      display: table-cell;
    }

    &--none {
      background: #ffffff;
    }
  }

  .price-block__feature-icon {
    display: table-cell;
  }

  .price-block__slider {
    display: none;
  }
}
