@import "../global/variables.scss";

.radio-button-block {
  margin-bottom: 38px;
}

.radio-button-block__label {
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  line-height: 39px;
  color: $bluish;
  cursor: pointer;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    top: -8px;
    left: 0;
  }

  &:hover::before {
    border-color: $bluish;
  }

  &:active::before {
    border-color: $pink;
  }

  &:active::after {
    position: absolute;
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid $pink;
    border-radius: 50%;
    top: 3px;
    left: 11px;
    background-color: $pink;
  }
}

.radio-button-block__input {
  display: none;

  &:checked + .radio-button-block__label:hover::before {
    border-color: $bluish;
  }

  &:checked + .radio-button-block__label:active::before {
    border-color: $pink;
  }

  &:checked + .radio-button-block__label:active::after {
    border-color: #ffffff;
    background: #ffffff;
  }

  &:checked + .radio-button-block__label::after {
    position: absolute;
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #d22856;
    border-radius: 50%;
    top: 3px;
    left: 11px;
    background-color: #d22856;
  }
}

@media (min-width: 700px) {
  .radio-button-block__label {
    padding-left: 60px;
  }
}

@media (min-width: 1200px) {
  .radio-button-block {
    margin-bottom: 36px;
  }
}
