.request-form__achievments-block {
  background-color: #f2f2f2;
  text-align: center;
}

.request-form__text {
  margin: 0;
  padding: 40px 50px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}

.request-form__contact-block {
  padding-bottom: 17px;
}

.request-form__application-checkbox {
  margin-left: 20px;
}
.request-form__comment-text {
  margin-left: 20px;
}

.request-form__btn {
  margin-left: 20px;
  margin-top: 48px;
}
