
.review-block {
  text-align: center;
}

.review-block__item {
  text-align: center;
  background-color: #ffffff;
}

.review-block__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.review-block__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  padding: 27px 20px 40px 20px;
}
