@import "../global/variables.scss";

.review-block {
  background-color: #ffffff;
  margin-bottom: 78px;
}

.review-block__inner {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 36px;
}

.review-block__item {

  &--rev2,
  &--rev3 {
    display: none;
  }
}

.review-block__title {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
}

.review-block__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.review-block__description {
  display: none;
}

.review-block__slider {
  text-align: center;
}

@media (min-width: 700px) {
  .review-block {
    width: 700px;
    padding: 45px 40px 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .review-block__item {
    display: flex;
    flex-direction: column;
  }

  .review-block__description {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
  }

  .review-block__text {
    order: -1;
  }


}
