@import "../global/variables.scss";

.review-block {
  background-color: #ffffff;
  margin-bottom: 78px;
}

.review-block__inner {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 36px;
}

.review-block__item {

  &--rev2,
  &--rev3 {
    display: none;
  }
}

.review-block__title {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
}

.review-block__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: $bluish;
}

.review-block__description {
  display: none;
}

.review-block__slider {
  text-align: center;
}

@media (min-width: 700px) {
  .review-block {
    margin-bottom: 99px;
  }

  .review-block__inner {
    padding: 0 40px;
  }

  .review-block__text {
    font-size: 18px;
  }

  .review-block__title {
    padding: 36px 0 0 0;
    font-size: 20px;
    line-height: 30px;
  }

  .review-block__item {
    display: flex;
    flex-direction: column;

    &--rev2,
    &--rev3 {
      display: none;
    }
  }

  .review-block__description {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
  }

  .review-block__text {
    order: -1;
  }
}

@media (min-width: 1200px) {
  .review-block {
    margin-bottom: 130px;
  }

  .review-block__quote {
    width: 78px;
    height: 63px;
    margin: 0 auto 52px auto;
    background: url('../img/icon-quotes.svg') no-repeat;
    background-size: 78px 63px;
  }

  .review-block__text {
    width: 690px;
    margin: 0 auto;
  }

  .review-block__title {
    font-size: 24px;
    line-height: 30px;
  }

  .review-block__description {
    font-size: 18px;
    line-height: 36px;
  }

  .review-block__slider {
    display: none;
  }
}
