.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59px;
  margin: 0 auto;
}

.slider__control {
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &--active-slide {
    background-color: #ffffff;
    border: 3px solid #283645;
    border-radius: 50%;
  }
}
