.upload-block__flex-container{
  padding-top: 20px;
  background-color: #f2f2f2;
}

.upload-block__title-info {
  margin: 0;
  padding: 40px 34px 45px 34px;
  font-size: 14px;
  line-height: 30px;
}

.upload-block__photo {
  padding-top: 20px 20px 0 20px;
}

.upload-block__modificators {
  margin-top: 42px;
  font-size: 0;
}

.upload-block__btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 35px;
  cursor: pointer;

  &--crop-button {
    width: 44px;
    height: 44px;
    background: url('../img/icon-editor-crop.svg');
  }

  &--color-button {
    width: 48px;
    height: 43px;
    background: url('../img/icon-editor-fill.svg');
  }

  &--contrast-button {
    width: 32px;
    height: 32px;
    background: url('../img/icon-editor-contrast.svg');
  }
}

.upload-block__scale {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 34px;
  width: 240px;
  height: 2px;
  background-color: #283645;

  &--contrast-button {
    display: none;
  }

  &--color-button {
    display: none;
  }
}

.upload-block__scale-round {
  position: absolute;
  display: block;
  top: -6px;
  left: 192px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    background: #d22856;
  }
}

.upload-block__button-block {
  padding-top: 25px;
  padding-bottom: 41px;
  border-top: 1px solid #dddfe0;
}

.upload-block__button {
  margin-top: 12px;
  padding: 15px 88px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  background: none;
  border-radius: 35px;
  cursor: pointer;
  outline: none;

  &--post {
    border: 3px solid #d22856;
    color: #d22856;

    &:hover {
      color: #ffffff;
      background: #d22856;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--cancel {
    padding: 15px 102px;
    color: rgba(40, 54, 69, 0.1);
    border: 3px solid rgba(40, 54, 69, 0.1);

    &:hover {
      color: rgba(40, 54, 69, 0.3);
      border-color: rgba(40, 54, 69, 0.3);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background: #b5b9be;
      border: 3px solid #b5b9be;
    }
  }
}

@media (min-width: 700px) {
  .upload-block {
    width: 620px;
    padding: 0 40px;
  }

  .upload-block__flex-container {
    display: flex;
    justify-content: space-around;
  }

  .upload-block__modificators {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .upload-block__filters {
    display: flex;
    flex-direction: column;
  }

  .upload-block__btn {
    margin-top: 50px;

    &--crop-button {
      margin-top: 0;
    }
  }
  .upload-block__scale {
    display: block;
    margin-top: 20px;

    &--color-button {
      margin-top: 100px;
    }

    &--contrast-button {
      margin-top: 80px;
    }
  }
}

@media (min-width: 1200px) {
  .upload-block {
    width: 940px;
    padding: 0 130px;
  }
}
