@import "../global/variables.scss";

.upload-block {
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.upload-block__title-inner {
  padding: 31px 20px;
}

.upload-block__title-info {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: $bluish;
}

.upload-block__photo {
  margin-bottom: 42px;
}

.upload-block__editor-block {
  background: #e2e2e2;
}

.upload-block__inner {
  padding: 20px 20px 0 20px;
}

.upload-block__button-block {
  display: flex;
  flex-direction: column;
}

.upload-block__controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  height: 43px;
  margin: 0 auto;
  padding-bottom: 76px;
  border-bottom: 1px solid #dddfe0;
}

.upload-block__controller {
  position: relative;
}

.upload-block__controller-icon {
  cursor: pointer;
  fill: #b5b9be;

  &--active {
    fill: $pink;
  }

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.upload-block__controller-btn:hover .upload-block__controller-icon {
  fill: #8d949b;
}

.upload-block__controller-btn:active .upload-block__controller-icon {
  fill: $pink;
}

.upload-block__scale {
  position: relative;
  display: none;
  width: 240px;
  height: 3px;
  background: $bluish;

  &--active {
    position: absolute;
    display: block;
    content: "";
    top: 87px;
    left: -19px;
  }
}

.upload-block__scale-round {
  position: absolute;
  display: block;
  content: "";
  top: -6px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid $pink;
  border-radius: 50%;
  cursor: pointer;

  &--crop {
    left: 146px;
  }

  &--fill {
    left: 25px;
  }

  &--contrast {
    left: 96px;
  }

  &:active {
    background-color: $pink;
  }
}

.upload-block__button-block {
  padding-top: 25px;
  padding-bottom: 41px;
  border-top: 1px solid #dddfe0;
}

.upload-block__button {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  padding: 15px 88px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  background: none;
  border-radius: 35px;
  cursor: pointer;
  outline: none;

  &--post {
    border: 3px solid #d22856;
    color: #d22856;

    &:hover {
      color: #ffffff;
      background: #d22856;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--cancel {
    padding: 15px 102px;
    color: rgba(40, 54, 69, 0.1);
    border: 3px solid rgba(40, 54, 69, 0.1);

    &:hover {
      color: rgba(40, 54, 69, 0.3);
      border-color: rgba(40, 54, 69, 0.3);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background: #b5b9be;
      border: 3px solid #b5b9be;
    }
  }
}

@media (min-width: 700px) {
  .upload-block {
    width: 700px;
  }

  .upload-block__title-inner {
    padding: 57px 40px;
  }

  .upload-block__title-info {
    font-size: 18px;
  }

  .upload-block__scale-round {
    background-color: #ffffff;
  }

  .upload-block__editor-block {
    width: 700px;
    box-sizing: border-box;
  }

  .upload-block__inner {
    padding: 57px 40px 54px 40px;
    display: flex;
    justify-content: space-between;
  }

  .upload-block__photo {
    width: 300px;
    margin: 0;
  }

  .upload-block__controllers-block {
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .upload-block__controllers {
    width: 275px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .upload-block__controller {
    width: 275px;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 31px;
    padding: 24px;
    border-bottom: 1px solid #dddfe0;
  }

  .upload-block__controller-btn {

    &--crop {
      height: 22px;
    }

    &--fill {
      height: 30px;
    }

    &--contrast {
      height: 21px;
    }
  }

  .upload-block__scale {
    display: block;
    width: 202px;
    margin-top: 10px;
    margin-left: 20px;

    &--active {
      position: static;
    }
  }

  .upload-block__scale-round {
    &--crop {
      top: 28px;
    }
  }

  .upload-block__controller-icon {
    fill: $pink;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 26px;
      height: 30px;
    }

    &--contrast {
      width: 21px;
      height: 21px;
    }
  }

  .upload-block__button-block {
    padding: 0;
  }

  .upload-block__button {
    margin: 0;

    &--post {
      margin-bottom: 24px;
    }
  }
}

@media (min-width: 1200px) {
  .upload-block {
    width: 1200px;
    padding: 0 130px;
    box-sizing: border-box;
  }

  .upload-block__editor-block {
    width: 940px;
    box-sizing: border-box;
  }

  .upload-block__title-inner {
    padding: 52.5px 130px;
  }

  .upload-block__inner {
    padding: 57px 60px 57px 80px;
  }

  .upload-block__controllers-block {
    width: 410px;
  }

  .upload-block__controllers {
    width: 410px;
    height: auto;
  }

  .upload-block__controller {
    width: 410px;
    min-height: 44px;
    padding: 14px 0;
  }

  .upload-block__button-block {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .upload-block__controller-icon {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .upload-block__scale {
    width: 288px;
    margin-top: 20px;
  }

  .upload-block__button-block {
    width: 410px;
    margin: 0;
  }

  .upload-block__button {
    margin: 0;

    &--post {
      padding-left: 42px;
      padding-right: 42px;
    }

    &--cancel {
      padding-left: 51px;
      padding-right: 51px;
    }
  }
}
